<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
<section>
    <h1 class="display-1">
        About
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempora possimus ad a ab quos ipsum excepturi numquam nisi veniam in, illum delectus facere reiciendis molestiae nam harum enim quis vel assumenda? Vitae facere iste est dolor sapiente id delectus voluptatibus ex maxime laboriosam accusantium perferendis, quas dolore mollitia veritatis minus itaque et cupiditate debitis. Sit deleniti impedit odio sed non facilis nam nemo debitis quaerat sunt provident praesentium iusto doloremque, atque nobis dolore! Ullam a ducimus dolore reprehenderit ratione odit omnis asperiores dicta suscipit totam voluptates quam explicabo laudantium, quis illum qui voluptatum, in aut ipsam nostrum blanditiis earum voluptatibus. Delectus, placeat consequatur nihil temporibus dolores distinctio quidem laborum quis ut rem ipsam accusantium alias quas ratione iure animi eaque, nesciunt harum sint esse amet optio illum velit? Modi asperiores est labore, laboriosam nisi, itaque dolorem qui magnam odit, quod nesciunt vitae. Officia fuga libero aspernatur minima soluta neque repudiandae molestias cum voluptatibus voluptate perspiciatis minus veritatis nesciunt quae perferendis temporibus, quo voluptates sequi assumenda voluptas. Recusandae nostrum laborum sit et, ullam, exercitationem nisi minus libero, alias quo est consequatur optio perferendis distinctio ipsam. Aspernatur, doloribus. Laboriosam corrupti vero dolor. Praesentium cumque, deleniti nostrum quasi quod quidem a? Ducimus.</p>
</section>

</main>

<%- include('partials/footer') %>

</body>
</html>